<div id="owl-slider" class="owl-carousel full">
    <div><img src="http://placehold.it/1170x200/42bdc2/FFFFFF"></div>
    <div><img src="http://placehold.it/1170x200/0971B2/FFFFFF"></div>
    <div><img src="http://placehold.it/1170x200/42bdc2/FFFFFF"></div>
    <div><img src="http://placehold.it/1170x200/0971B2/FFFFFF"></div>
    <div><img src="http://placehold.it/1170x200/42bdc2/FFFFFF"></div>
    <div><img src="http://placehold.it/1170x200/0971B2/FFFFFF"></div>
</div>

