<div class="slider col-md-12">
    <ul class="bxslider row">
        <li><img src="http://placehold.it/1170x250/42bdc2/FFFFFF"></li>
        <li><img src="http://placehold.it/1170x250/0971B2/FFFFFF"></li>
        <li><img src="http://placehold.it/1170x250/42bdc2/FFFFFF"></li>
        <li><img src="http://placehold.it/1170x250/0971B2/FFFFFF"></li>
        <li><img src="http://placehold.it/1170x250/42bdc2/FFFFFF"></li>
        <li><img src="http://placehold.it/1170x250/0971B2/FFFFFF"></li>
    </ul>
</div>
