label {
    font-weight:normal;
}
body {
    font-size: 16px;
    font-weight:normal;
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #FAFAFA;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.contenedorfiltros{
    margin: 2em 0em;
}

.dl-horizontal dt {
    white-space: normal;
}

.fa-search:before {
    padding-right:.5em;
}
.fa-map-marker:before {
    padding-right:.3em;
}

.grupo1 {
    padding:0px 3px;
}
.logo {
    padding-bottom:.8em;
}
.navbar-inverse, .navbar {
    background-color:#2E548C;
    border-color:none;
}
.navbar-inverse .navbar-nav > li > a {
    color: white;
}
.paneles {
    margin-top:2em;
}
.panelsup {
    padding-top:2em;
}
/*Se debe cambiar la propiedad para que sea visible y funcione el responsive de la tabla con el collapse*/
.table-responsive {
    overflow-x: visible !important;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}




/* Propiedades para realizar el efecto en los radiobutton de la seleccion de pasajeros */
.btn-group-select-num >.btn {
  -webkit-border-radius: 50% !important;
  border-radius: 50% !important;
  height: 28px;
  line-height: 26px;
  width: 28px;
  padding: 0;
  background: none;
  color: #737373;
  border: 1px solid transparent;
}
.btn-group-select-num >.btn:hover {
  color: #737373;
  border-color: #737373;
  background: none;
}
.btn-group-select-num >.btn.active,
.btn-group-select-num >.btn.active:hover {
  background: #ed8323;
  border-color: #e27513;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff;
}
.btn-group-select-num {
  margin-top: 3px;
}
.btn-group-select-num > .btn {
  height: 35px;
  line-height: 35px;
  width: 35px;
}
input[type="radio"]{
    display: none;
}
.btn-group-select-num >.btn.active, .btn-group-select-num >.btn.active:hover {
    background: #ed8323;
    border-color: #e27513;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #fff;
}



#datatable2 {
    margin-top:2em;
}
#owl-slider .owl-item img{
  display: block;
  width: 100%;
  height: auto;
}
#panel2 {
    margin-right:2em;
}

