body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
.container {
    /*margin-left:1em;*/
}
.contenedorizq{
    margin: 2em 0em;
}

.dl-horizontal dt {
    white-space: normal;
}

.paneles {
    /*margin-right:2em;*/
    margin-top:2em;
}
.panelsup {
    padding-top:2em;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse, .navbar {
    background-color:#2E548C;
    border-color:none;
}
.navbar-inverse .navbar-nav > li > a {
    color: white;
}

#panel2 {
    margin-right:2em;
}

#owl-demo .owl-item div{
  padding:5px;
}
#owl-demo .owl-item img{
  display: block;
  width: 100%;
  height: auto;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}