body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
.contenedorizq{
    margin: 2em 0em;
}

.dl-horizontal dt {
    white-space: normal;
}

.jumbotron {
    margin-right:2em;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse {
    background-color:#00B7B9;
}
.navbar-inverse .navbar-nav > li > a {
    color: white;
}
.panel1{
    margin-top:10em;
}