@model IEnumerable<Aerolinea.Models.VueloView>

<div id="tablas" class="">
    <div class="table-responsive">
        <table id="table1" class="table table-hover">
            <thead>
                <tr class="btn-primary">
                    <th class="col-md-3">Origen</th>
                    <th class="col-md-3">Salida</th>
                    <th class="col-md-2">Hora</th>
                    <th class="col-md-4">Aeropuerto</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.First().ListaVuelosOrigen == null || Model.First().ListaVuelosOrigen.Count() == 0)
                {
                    <tr><td class="col-md-3">Seleccione un Origen.</td></tr>
                }

            </tbody>
        </table>
        <table id="table2" class="table table-hover">
            <thead>
                <tr class="btn-primary">
                    <th class="col-md-3">Destino</th>
                    <th class="col-md-3">Llegada</th>
                    <th class="col-md-2">Hora</th>
                    <th class="col-md-4">Aeropuerto</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.First().ListaVuelosDestino == null || Model.First().ListaVuelosDestino.Count() == 0)
                {
                    <tr><td class="col-md-3">Seleccione un Destino.</td></tr>
                }
            </tbody>
        </table>
    </div>
</div>
<br />
<div class="form-group col-md-12 text-center">
    <button id="btnBuscar" type="button" value="" class="btn btn-default">SIGUIENTE</button>
</div>
